*:active{
    border-color:unset;
}

body {
    position: relative;
    margin-top: 50px;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
