*:active{
    border-color:unset;
}

*:focus {
    outline:0;
}

body {
    position: relative;
    margin-top: 65px;
    bottom: 0;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.hide {
    display: none !important;
}

footer {
    text-align: center;
    font-weight: 700;
}
