<!--<div class="product col s3">-->
<!--    &lt;!&ndash;            Todo click on product make background grey it mean the element is Checked&ndash;&gt;-->
<!--    <input type="checkbox" hidden>-->
<!--    <h6>JVC2020</h6>-->
<!--    <h4>Acme Disc</h4>-->
<!--    <em>$ 80.00</em>-->
<!--    <strong>Size: 700 MB</strong>-->
<!--    <div class="product__product-backgound"></div>-->
<!--</div>-->

<div class="product col s3 plus">
    <!--            Todo click on product make background grey it mean the element is Checked-->

    <strong>+</strong>
</div>
