<footer>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Lorem ipsum dolor sit.</h5>
                <p class="grey-text text-lighten-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto assumenda commodi corporis dicta dolorum earum et eum excepturi facere fugiat in inventore labore maxime perspiciatis quaerat repellendus, rerum sint. Aperiam at consequatur, cumque cupiditate dolorem doloremque doloribus dolorum, error ex expedita fugiat, incidunt nostrum perspiciatis quam qui quibusdam quidem!
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navigation</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Add</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Update</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Remove</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2020 Bogdans Gromovs</p>
    </div>
</footer>
